h2 {content: url.jpg);
	color: #b2c3ea;
}
a:hover{color:black}

#header{
	background-color:#123456;
	position:absolute;
	top: 0px;
	left:0px;
	height:60px;
	width:100%;
	border-bottom: 5px ridge;
}
#logotext:hover{opacity: .6}
#logotext{
	position:absolute;
	top:10px;
	left:5px;
	font-size:larger;
}

#footer{
	border-top: 5px ridge;
	background-color:#123456;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	color: #b2c3ea;
}

.createdby{
	right:5px;
	position:absolute;
}

#consulting:hover{background-color:white}

#consulting{
	position:absolute;
	top:20px;right:5px;
	font-size: 15px;
	border-radius:4px;
	background-color:#b2c3ea;
	border: 1px solid #3f65c0;
	color:#123456;
	padding: 5px 12px;
}


