#map{
	position:absolute;
	top:60px;
	left:0px;
	height:550px;
	width:100%;
}

#geolocat{
	position:absolute;
	top:615px;left:5px;
	font-size: 15px;
	border-radius:4px;
	background-color:#123456;
	border: 1px solid #3f65c0;
	color:#b2c3ea;
	padding: 5px 12px;
}
#geolocat:hover{background-color:black;color:white}
li:hover{background-color:black;color:white}
#getisro{
	position:absolute;
	top:615px;left:130px;
	font-size: 15px;
	border-radius:4px;
	background-color:#123456;
	border: 1px solid #3f65c0;
	color:#b2c3ea;
	padding: 5px 12px;
}
#getisro:hover{background-color:black;color:white}
#popup{
	position:absolute;
	top:615px;left:290px;
	font-size: 15px;
	border-radius:4px;
	background-color:#123456;
	border: 1px solid #3f65c0;
	color:#b2c3ea;
	padding: 5px 12px;
}
#popup:hover{background-color:black;color:white}



